.button {
  background: #3f88c0;
  border-radius: 0.33em;
  border-width: 0;
  color: #fff;
  font-weight: 600;
  padding: 0.5em 1em;
}
.button:active {
  background: #387aad;
}
.button:disabled {
  background: #999;
  color: #eee;
}
.button.spinning {
  background: #3f88c0;
  color: #fff;
}
.button.warn {
  background: #900;
}
.button.warn:active {
  background: #700;
}
.button.warn:disabled {
  background: #999;
  color: #eee;
}
.button.warn.spinning {
  background: #900;
  color: #fff;
}
.button .spinner {
  font-size: 85%;
  line-height: 90%;
  margin-left: 0.5em;
}
